p {
    font-family: monospace;
}

h1 {
    font-family: monospace;
}

html {
    background-color: black;

    font-family: monospace;
}

ul {
    margin-left: 80px;
}

h1 {
    color: white;
    margin-left: 50px;
}

p {
    color: white;
    margin-left: 80px;
}

pre {
    color:white;
    margin-left: 40%;
    margin-top: 320px;
}

small {
    margin-left: 150px;
    font-size: 20;
}